.navbar-custom {
  background-color: #1a1a1a; /* black-light */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #ffffff !important;
}

.navbar-custom .nav-link:hover {
  color: #f8f9fa !important;
  text-decoration: underline;
}
